<div class="mb-7">
  <h1 mat-dialog-title class="text-center text-2xl font-bold tracking-wider">
    Update Product
  </h1>
</div>
<mat-dialog-content>
  <form action="" [formGroup]="productForm">
    <div class="grid gap-4 text-left md:grid-cols-2">
      <div class="relative">
        <label
          for="name"
          class="absolute left-1 top-2 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-500 dark:bg-night-700 dark:text-night-200"
        >
          Product Name
        </label>

        <input
          type="text"
          id="name"
          class="peer block"
          placeholder=" "
          formControlName="name"
        />
      </div>
      <div class="relative">
        <select name="" id="" class="select" formControlName="categoryId">
          <option value="" disabled selected>Select a product category</option>
          <option
            *ngFor="let category of productCategory$ | async"
            [value]="category.id"
          >
            {{ category.name }}
          </option>
        </select>
        <label
          for="roomType"
          class="absolute left-1 top-2 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-600 dark:bg-night-700 dark:text-night-200"
        >
          Category
        </label>
      </div>
    </div>
  </form>

  <div class="mt-4 flex flex-row-reverse gap-3">
    <div>
      <button
        class="w-full flex-none rounded bg-primary-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-600 dark:bg-primary-500 dark:text-white dark:hover:bg-primary-600"
        (click)="updateProduct()"
      >
        Submit
      </button>
    </div>
    <div>
      <button
        class="w-full flex-none rounded bg-red-500 px-4 py-2.5 text-xs font-semibold text-white hover:bg-red-600 dark:bg-red-500 dark:text-white dark:hover:bg-red-600"
        (click)="closeDialog()"
      >
        Cancel
      </button>
    </div>
  </div>
</mat-dialog-content>
