<td class="py-2 pl-2 text-left">
  <span class="text-sm font-semibold text-gray-400 dark:text-night-200"
    >{{ productCategory.name }}
  </span>
</td>
<td class="py-2 pl-2 text-left">
  <div class="flex gap-2 justify-end">
    <button
      class="flex h-7 w-7 items-center justify-center rounded-md bg-blue-200 text-blue-400 dark:bg-night-500 dark:text-night-300"
    >
      <svg-icon
        src="assets/icons/tablericons/edit.svg"
        [svgClass]="'h-5 w-5'"
      >
      </svg-icon>
    </button>
    <button
      class="flex h-7 w-7 items-center justify-center rounded-md bg-red-200 text-red-400 dark:bg-night-500 dark:text-night-300"
    >
      <svg-icon
        src="assets/icons/tablericons/trush.svg"
        [svgClass]="'h-5 w-5'"
      >
      </svg-icon>
    </button>
  </div>
</td>
