<div
  class="mt-3 flex-col rounded-lg bg-white px-8 py-8 dark:bg-night-700 sm:flex-row"
>
  <div class="mb-4 flex items-center justify-between">
    <div class="flex-col items-center">
      <h3 class="text-md font-bold text-gray-900 dark:text-night-50">
      Cargo
      </h3>
      <!-- <span class="text-sm text-gray-400 dark:text-night-300"
        >Updated 37 minutes ago</span 
      >-->
    </div>
    <button
      class="flex-none rounded-md bg-gray-100 px-4 py-2.5 text-xs font-semibold text-gray-500 hover:bg-gray-200 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500"
      (click)="addCargo()"
    >
      Add Cargo
    </button>
  </div>
  <div class="relative overflow-x-auto">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      class="dark:dark:bg-night-700"
    >
      <ng-container *ngFor="let column of columns" [matColumnDef]="column">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="text-center"
        >
          {{ column }}
        </th>
        <td
          mat-cell
          *matCellDef="let row; let i = index"
          class="px-4 py-2 text-left md:px-6 lg:px-8"
        >
          <ng-container
            [ngSwitch]="column"
            class="px-4 py-2 text-center md:px-6 lg:px-8"
          >
            <td class="py-2 pr-2" *ngSwitchCase="'cargo'">
              <div class="flex items-center">
                <img
                  src="{{ apiUrl + row?.image }}"
                  class="mr-2 h-10 w-10 flex-none rounded-sm"
                  alt=""
                />
                <div class="flex flex-col justify-items-start">
                  <a
                    href="#"
                    class="mb-1 text-sm  text-gray-900 dark:text-night-100 dark:hover:text-primary-500"
                    >{{ row.cargo_no }}</a
                  >
                  <span
                    class="text-xs  text-gray-400 dark:text-night-300"
                    >{{ row.status }}</span
                  >
                </div>
              </div>
            </td>
            <td class="py-2 pl-2 text-left" *ngSwitchCase="'customer'">
              <span
                class="text-sm  text-gray-400 dark:text-night-200"
                >{{ row.mteja?.jina_la_mteja }}
              </span>
            </td>

            <td class="py-2 pl-2 text-center" *ngSwitchCase="'weight'">
              <span
                class="text-sm  text-gray-400 dark:text-night-200"
                >{{ row.uzito }}
              </span>
            </td>
            <td class="py-2 pl-2 text-center" *ngSwitchCase="'time in'">
              <span
                class="text-sm  text-gray-400 dark:text-night-200"
                >{{ row.tarehe_kuingia }}
              </span>
            </td>
            <td class="py-2 pl-2 text-center" *ngSwitchCase="'time out'">
              <ng-container *ngIf="row.tarehe_ya_kutoka; else stillInStore">
                <span
                  class="text-sm  text-gray-400 dark:text-night-200"
                  >{{ row.tarehe_ya_kutoka }}</span
                >
              </ng-container>
              <ng-template #stillInStore>
                <span
                  class="text-sm  text-gray-400 dark:text-night-200"
                  >Still in the store</span
                >
              </ng-template>
            </td>
            <td class="py-2 pl-2 text-center" *ngSwitchCase="'category'">
              <span
                class="text-sm  text-gray-400 dark:text-night-200"
                >{{ row.category?.name }}
              </span>
            </td>

            <td class="py-2 pl-2 text-center" *ngSwitchCase="'action'">
              <div class="flex justify-end gap-2">
                <button
                  (click)="updateCargo(row.id)"
                  class="flex h-7 w-7 items-center justify-center rounded-md bg-blue-200 text-blue-400 dark:bg-blue-500 dark:text-blue-300"
                >
                  <svg-icon
                    src="assets/icons/tablericons/edit.svg"
                    [svgClass]="'h-5 w-5'"
                  >
                  </svg-icon>
                </button>
                <button
                  (click)="deleteCargo(row.id)"
                  class="flex h-7 w-7 items-center justify-center rounded-md bg-red-200 text-red-400 dark:bg-red-500 dark:text-red-300"
                >
                  <svg-icon
                    src="assets/icons/tablericons/trush.svg"
                    [svgClass]="'h-5 w-5'"
                  >
                  </svg-icon>
                </button>
              </div>
            </td>
          </ng-container>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="columns"
        class="text w-full text-xs capitalize text-gray-400 dark:text-night-300"
      ></tr>

      <tr
        mat-row
        *matRowDef="let row; columns: columns"
        class="!important border-b border-dashed border-gray-200 hover:bg-gray-100 dark:border-night-500 dark:hover:bg-night-600"
      ></tr>
    </table>

    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="[5, 10, 25, 50, 100]"
      aria-label="Select page"
      class="dark:dark:bg-night-700 dark:text-night-50"
    >
    </mat-paginator>
  </div>
</div>
